<div class="container wow animated fadeIn" id="about"> <br><br><br>
  <!--Section: About Me-->
  <section class="text-left white-text">
    <!-- Heading and Divider -->
    <h2 class="font-weight-bold">About Me</h2>
    <hr class="hr-light">
      
    <!--Grid row-->
    <div class="row d-flex justify-content-center mb-4">
      <!--Grid column-->
      <div class="col-md-4 mb-4"><img src="img/my_face.jpg" class="img-fluid"></div> 
      
      <!--Grid column-->
      <div class="col-md-8">
        <p style="font-size: 14pt; text-shadow: 1px 1px 10px black"> 
           As a data scientist, policy analyst, and civic technologist with a background in music education, 
           I enjoy breaking down problems, scaling solutions, and communicating results to people who need them.
        </p>
        <p style="font-size: 14pt; text-shadow: 1px 1px 10px black"> 
           I am very fortunate to have centered my career around both interesting and socially impactful problems. 
           Currently, I am evaluating land reform policy in post-WWII Italy at the University of Chicago and
           provide predictive analytics for the Environmental Protection Agency.
        </p>
      </div> 
    </div>
  </section><br><br><br>  
</div>
<!-- End About Me-->
