<!-- Experience Card -->
<div class="card card-image" style="background-image: linear-gradient(to top right, #AE132A, #4E131F)">
    <!-- Content -->
    <div class="text-white text-left d-flex align-items-center py-5 px-3">
        <div>
            <div style="text-align: center;"><i class="fas {{ include.icon }} fa-3x"></i></div>
            <h4 class="card-title pt-2 text-center">{{ include.title }}</h4>
            <hr class="hr-light">
            <p>{{ include.description }}</p>
            <br>
        </div>
    </div>
</div>
