<!-- Experience Card -->
<div class="card card-image h-100 experience-card-{{ include.color }}">
    <!-- Content -->
    <div class="text-white text-left d-flex align-items-center py-4 px-3">
        <div>
            <div style="text-align: center;"><i class="fas {{ include.icon }} fa-2x"></i></div>
            <h4 class="card-title pt-2 text-center">{{ include.title }}</h4>
            <hr class="hr-light">
            <p style="font-weight: 300;">{{ include.description }}</p>
            <br>
        </div>
    </div>
</div>
