<!-- Footer -->
<footer class="page-footer font-small bg-dark darken-3" style="padding: 25px;">
  <!-- Footer Elements -->
  <div class="container flex-center">
    <!-- Twitter -->
    <a class="tw-ic" href="http://www.twitter.com/nick__tallant">
      <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x hoverable"></i>
    </a>
    <!--Linkedin -->
    <a class="li-ic" href="http://www.linkedin.com/in/ndtallant">
      <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x hoverable"></i>
    </a>
    <!--GitHub-->
    <a class="pin-ic" href="http://www.github.com/ndtallant">
      <i class="fab fa-github fa-lg white-text fa-2x hoverable"></i>
    </a>
  </div>
  <!-- Footer Elements -->
</footer>
<!-- Footer -->
