<!--Mask-->
<div id="intro" class="view">
  <div class="mask rgba-black-strong">
    <div class="container-fluid d-flex align-items-center justify-content-center h-100">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-md-12">

          <!-- Heading -->
          <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Nick Tallant</h2>

          <!-- Divider -->
          <hr class="hr-light">

          <!-- Description -->
          <h5 class="white-text mb-0">Data Scientist, Policy Analyst, Civic Technologist</h5>
          <br> 
          <a href="#about">
            <button type="button" class="btn"><i class="fa fa-angle-down fa-2x white-text"></i></button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/.Mask-->
