    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section" >
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2" style="background-color: rgba(0, 0, 0, .88);">
                    <br> 
                    <h2>Project Work</h2>
                    <p style="text-align: left;">Machine learning, program evaluation, web development, and software engineering for government agencies, non-profit organizations, and private industry.
                    <a href="/projects/">See my project work here.</a></p>
                </div>
            </div>
        </div>
    </section>
