    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section" >
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2" style="background-color: rgba(0, 0, 0, .85);">
                    <br> 
                    <h2>Project Work</h2>
                    <p>This section is still under construction, in the meantime see my work on the  
                    <a href="http://ndtallant.github.io/DataCensus/">Harris School of Public Policy Data Census</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>
