<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
   
    {% for project in site.projects %}
        <!-- Individual Project Section -->
        <section class="content-section">
            <div class="single-project-section" 
                 style="background: url({{ project.background }}) no-repeat center center scroll;">
                <div class="container">
                    <div class="col-lg-8 col-lg-offset-4" style="background-color: rgba(0, 0, 0, .88);">
                        <br> 
                        <h2>{{ project.title}}</h2>
                        <p>{{ project.content}}</p>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}    
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
